* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  color: #867863;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  position: relative;
}

.overlay-on {
  /* position: fixed; */
  overflow: hidden;
}