.inquiry-widget {
  position: fixed;
  width: 150px;
  height: 60px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  bottom: 30px;
  margin-left: 20px;
}

.inquiry__heading {
  color: #232323;
}